/*Created By : Sangwin Gawande (http://sangw.in)*/

.align-center{
	width: 40%;
	margin: auto;
}
.login-card{
	margin-top: 5%;
	border-radius: 15px;
}

/*Created By : Sangwin Gawande (http://sangw.in)*/